* {
  margin:0;
  padding:0;
}

body {
  background-color: #d879ac;
  text-align: center;
  color: #dbd22c;
}

h1 {
  padding-top: 2%;
}

#firsth2 {
  padding-top: 1%;
}

label, input, button {
  display: block;
  margin: 10px auto;
}

h2{
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 20px;
}
h3{
  padding-top: 5px;
  padding-bottom: 10px;
}
h4{
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
}
.fancy-box {
  border: solid 4px #ac2464;
  height: 120px;
  padding: 10px;
  length: 175px
}
img {
  width: 250px;
}
