`h1 {
	color: orange;
	font-size:200%;
}
p{
	text-indent: 50px
	font-size: 20px
}
p {
	font-family: fantasy;
	text-indent: 20px;
	margin-left: 20px;
}
#content {
	background-color: #ffdcdc;
	width: 500px;
	min-height: 300px;
	padding: 10px;
	margin: 450px;
	border: solid 10px #71699d;
	font-size: 20px;
}
